mule-bascis-poc/src/main/mule/mule-bascis-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:request-config name="sample-http-request" doc:name="HTTP Request configuration" doc:id="f1417be2-3933-4475-811a-d74ac086d554" >
		<http:request-connection protocol="HTTPS" host="api.restful-api.dev" >
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<http:listener-config name="restful-api-listener" doc:name="HTTP Listener config" doc:id="84d415bb-6702-408d-9aac-b172e0def001" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="mule-bascis-pocFlow" doc:id="36e8f91a-4e24-457d-bdac-bb1fbeb583db" >
		<http:listener doc:name="Listener" doc:id="1f48187c-ce7b-4ab2-b3b5-2466397399b4" config-ref="restful-api-listener" path="/api/*" allowedMethods="POST"/>
		<tracking:transaction doc:name="Set Transaction Id" doc:id="7e9d569b-2b2d-42fc-9d66-bfbf2b89fea3" id="#[payload.orderId]"/>
		<tracking:custom-event doc:name="Custom Business Event" doc:id="5a74c9be-733c-4859-9038-f9b24fd3acca" event-name="Track-Order-Id">
			<tracking:meta-data key="orderId" value="#[payload.orderId]" />
			<tracking:meta-data key="status" value="start" />
		</tracking:custom-event>
		<http:request method="GET" doc:name="restful-api-request" doc:id="f1e981ae-a7b6-4cfe-a2d2-0e6bc60cb4d0" config-ref="sample-http-request" path="/objects" sendCorrelationId="ALWAYS">
			<http:body ><![CDATA[#[{
   "name": "Apple MacBook Pro 16",
   "data": {
      "orderId" : payload.orderId,
      "year": 2019,
      "price": 1849.99,
      "CPU model": "Intel Core i9",
      "Hard disk size": "1 TB"
   }
}]]]></http:body>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="65124f1b-3e3e-4dff-ac51-0239ca379df2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<tracking:custom-event doc:name="Custom Business Event" doc:id="e4dfcbcf-29f2-4151-b517-e1bb505c4439" event-name="Track-Order-Id" >
			<tracking:meta-data key="orderId" value="#[payload.orderId]" />
			<tracking:meta-data key="status" value="Success" />
		</tracking:custom-event>
		<logger level="INFO" doc:name="Logger" doc:id="b5b2ddad-45c8-4519-8df2-1e4b80952c39" message="done"/>
	</flow>
</mule>
